.post-card-cnt {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 8px 10px;
    border: 4px solid transparent;
    border-radius: 12px;
    margin: 6px;
    background: linear-gradient(#1e1e2f, #1e1e2f) padding-box, linear-gradient(135deg, #00f0ff, #ff00c8) border-box;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.4), 0 0 20px rgba(255, 0, 200, 0.2);
}

.card-button {
  box-sizing: border-box;
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:  #414bff;
  cursor: pointer;
  transition: border-color 0.25s;
} 

.card-button:hover {
  border-color: #888eff;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modal {
  display:flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#1e1e2f, #1e1e2f); 
  border: solid white 1px;
  padding: 2rem;
  border-radius: 10px;
  width: 33%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  gap: 3px;
};

